/*
created by：Yusys-Ued-WY
file name：main.css
remark：主样式
update date：2017-12-28 14:15
*/
/*01-common sta*/
body,td,th {font-size: 12px;color: #666;outline: none;}
body {	background-color: #f5f5f5;margin: 0;padding: 0;}
html,body{min-width: 1024px;overflow-x: auto;-webkit-text-size-adjust:none;}
div,ul,li,form,p,h1 {margin: 0;padding: 0;	list-style: none;border: none;}
img {border: none;float: left;}
input,textarea {outline:none;resize: none;}
input::-ms-clear { display: none!important;}
a:link,a:visited {font-size: 12px;color: #666;text-decoration: none;outline: none;}
a:hover {color: #da530f;text-decoration: none;}
a:active {color: #666;}
* {	font-family: '微软雅黑',Arial;-webkit-font-smoothing: antialiased;text-rendering: optimizelegibility;}
.cl {clear: both;width: 0;height: 0;}

.c1{color:#618CF4;}
.c2{color:#F99900;}
.c3{color:#FF713C;}
.c4{color:#36CBDE;}
.c5{color:#78BC27;}
.c6{color:#B99C65;}
.bc1{background-color:#618CF4;}
.bc2{background-color:#F99900;}
.bc3{background-color:#FF713C;}
.bc4{background-color:#36CBDE;}
.bc5{background-color:#78BC27;}
.bc6{background-color:#B99C65;}
.bdc1{border-color:#618CF4;}
.bdc2{border-color:#F99900;}
.bdc3{border-color:#FF713C;}
.bdc4{border-color:#36CBDE;}
.bdc5{border-color:#78BC27;}
.bdc6{border-color:#B99C65;}
/*01-common end*/

/*02-frame common sta*/
.yu-idxHtml,.yu-idxBody{height: 100%;overflow: hidden;}
.yu-mainBox{display: block;margin-left: 230px;padding: 0 0 0 0;height: auto; }
.page-sidebar-closed .yu-mainBox{margin-left: 35px;}

.yu-idxMenu{position: absolute;left: 0;top: 0;height: 100%;z-index: 2;}
.yu-idxMenuSwiper{display: block;height: 100%;overflow: inherit;}
.yu-idxMenuSwiper .swiper-wrapper{height: 100%;width: 230px;}
.yu-idxMenuSwiper .swiper-slide{width: 100%;}
.yu-idxMenuScrollbar{right: inherit!important;left: 1px;top: 0;width: 3px!important;}
.yu-idxMenuScrollbar .swiper-scrollbar-drag{}

.yu-userInfo{display: block;height: 64px;padding-top: 10px;position: relative; }
.yu-userInfo>div{float: left; width: 64px;height: 64px;position: relative;margin-left: 20px;overflow: hidden;border-radius: 39px;behavior: url(PIE.htc);}
.yu-userInfo>div>img{width: 100%;height: 100%;}
.yu-userInfo>p{float: left;width: 120px;margin-top: 10px; margin-left: 10px; display: block;line-height: 25px;color: #bfcbd9;}
.yu-userInfo>p>b,.yu-userInfo>p>span{display: block;overflow: hidden;}
.yu-userInfo>p>b{color: #20a0ff;}
.yu-userInfo>p>b>i{margin-right: 5px;}

.yu-exit:link,.yu-exit:visited{position: absolute;float: left;right: 10px;top: 10px;font-size: 16px;color: #20a0ff;text-decoration: none;}
.yu-exit:hover{color: #96d2ff;}
.yu-exit:active{color: #1e88d6;}
.page-sidebar-closed .yu-userInfo>.yu-exit{display: none;}

.page-sidebar-closed .yu-userInfo{height: 35px;}
.page-sidebar-closed .yu-userInfo>div{width: 30px;height: 30px;margin-left: 2px;}
.page-sidebar-closed .yu-userInfo>p{display: none;}

.yu-idxTabs{display: block;height: 34px; background-color: #fff;border-bottom: 1px #20a0ff solid;position: relative;padding-left: 10px;}
.yu-idxTabs>div{display: block;float:left; height: 28px;margin-top: 6px;overflow: hidden;white-space: nowrap;}
.yu-idxTabs>div>a:link,.yu-idxTabs>div>a:visited{float: left;display: block; height: 27px;line-height: 27px;padding: 0 15px;margin: 0 1px; color: #666;font-size: 14px;transition: .2s;border: 1px #bfdaee solid;border-bottom: none;background-color: #fff;overflow: hidden;position: relative;}
.yu-idxTabs>div>a:hover{background-color: #fff;color: #20a0ff;border-color: #20a0ff;}
.yu-idxTabs>div>a:active{background-color: #f1f3f8;color: #20a0ff;border-color: #20a0ff;}
.yu-idxTabs>div>a.ck:link,.yu-idxTabs>div>a.ck:visited{height: 27px;background-color: #20a0ff;color: #fff;border-color: #20a0ff;}
.yu-idxTabs>div>a.ck:hover{background-color: #0095e0;color: #fff;border-color: #0095e0;}
.yu-idxTabs>div>a.ck:active{background-color: #20a0ff;color: #fff;border-color: #20a0ff;}
.yu-idxTabs>div>a>i{display: none; position: absolute;right: 3px;top: 3px;float: left;width: 8px;height: 8px;background: url(images/pic_01.gif) center center no-repeat;}
.yu-idxTabs>div>a>i:hover{background: url(images/pic_01_ov.gif) center center no-repeat;}
.yu-idxTabs>div>a>i:active{background: url(images/pic_01_ac.gif) center center no-repeat;}
.yu-idxTabs>div>a:hover>i{display: block;}
.yu-idxTabs>div>a.ck>i{background: url(images/pic_01_1.gif) center center no-repeat;}
.yu-idxTabs>div>a.ck>i:hover{background: url(images/pic_01_1_ov.gif) center center no-repeat;}
.yu-idxTabs>div>a.ck>i:active{background: url(images/pic_01_1_ac.gif) center center no-repeat;}
.yu-idxTabs>div>a.isIndex>i{display: none;}
.yu-idxTabBox{clear: left; display: block;overflow: hidden;min-height: 100px;position: relative;}
.yu-idxTabBox>div{display: none;height: 100%;width: 100%; position: absolute;left: 0;top: 0;overflow: hidden;}
.yu-idxTabBox>div.ck{display: block;}
.yu-idxTabBox>div>div{padding:  0 10px;}
.yu-idxTabBox>div>iframe{display: block;border: none;margin: 0;padding: 0;width: 100%;height: 100%;}

#yu-idxTabDMenuBt:link,#yu-idxTabDMenuBt:visited{float:left;margin-left: 1px;position: relative; height: 27px;width: 26px;border: 1px #bfdaee solid;border-bottom:none;background:url(../common/images/arrow_down.gif) #fff center center no-repeat; margin-top:6px;transition: .2s;}
#yu-idxTabDMenuBt:hover{background:url(../common/images/arrow_up.gif) #20a0ff center center no-repeat;;border-color: #20a0ff;}
#yu-idxTabDMenuBt:active{background-color: #20a0ff;border-color: #20a0ff;}

#yu-idxTabDMenuBt>div{display:none;position: absolute;top:26px;left: -1px;top:27px; width: 130px;line-height: 29px;z-index: 10;background-color: #fff;border: 1px solid #d1dbe5 ;border-bottom: none;height: auto;max-height: 240px; overflow-y: auto;box-shadow:0 2px 4px rgba(0,0,0,.2);}
#yu-idxTabDMenuBt:hover>div{display: block;}
#yu-idxTabDMenuBt>div>span{display: block;clear: left;position:relative; padding: 0 20px 0 15px; text-align: left;height: 29px;line-height:29px;border-bottom:0px solid #bfdaee;font-size: 12px;color: #666; transition: .2s;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
#yu-idxTabDMenuBt>div>span:hover{color: #20a0ff;background-color: #e4e8f1;}
#yu-idxTabDMenuBt>div>span:nth-child(1):hover{color: #da530f;}
#yu-idxTabDMenuBt>div>span:active{color: #666;}
#yu-idxTabDMenuBt>div>span>i{display: none; position: absolute;right: 2px;top: 2px;float: left;width: 25px;height: 25px;background: url(images/pic_01.gif) center center no-repeat;}
#yu-idxTabDMenuBt>div>span>i:hover{background: url(images/pic_01_ov.gif) center center no-repeat;}
#yu-idxTabDMenuBt>div>span>i:active{background: url(images/pic_01_ac.gif) center center no-repeat;}
#yu-idxTabDMenuBt>div>span:hover>i{display: block;}

.yu-tabContextmenu{display: none; position: absolute;top:0;left: 0;background-color: #fff;width: 100px;min-height: 60px; height:auto;z-index: 500;border: 1px solid #d1dbe5 ;border-bottom: none;border-radius: 2px;box-shadow:0 2px 4px rgba(0,0,0,.2);}
.yu-tabContextmenu>a:link,.yu-tabContextmenu>a:visited{display: block;clear: left;height: 29px;line-height:29px;border-bottom:0px solid #bfdaee;padding-left: 15px;font-size: 12px;color: #666; transition: .2s;}
.yu-tabContextmenu>a:hover{color: #da530f;background-color: #e4e8f1;}
.yu-tabContextmenu>a:active{color: #666;}
.yu-tabContextmenu>a:before{font-size: 12px;margin-right: 5px;}

.yu-themesList{display: none; position: absolute;left: 10px;top:20px;z-index: 10;width: 80px;background-color: #ffffff;border: 1px #d1dbe5 solid;border-radius: 2px;box-shadow:0 2px 4px rgba(0,0,0,.2);}
.yu-themesList>i{position: absolute;font-size: 0;float: left;overflow: hidden;width: 15px;height: 7px;top: -7px;left: 32px; background: url(images/pic_04.png) center center no-repeat;}
.yu-themesList>span{display: block;height: 30px;line-height: 30px;padding: 0 15px 0 30px;cursor: pointer;position: relative;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.yu-themesList>span:hover{color: #58b0e8;background-color: #e4e8f1;}
.yu-themesList>span>i{position: absolute;width: 11px;height: 11px;border-radius: 100%;left: 12px;top: 10px;}
.yu-themesList>span.default>i{background-color: #20a0ff;}
.yu-themesList>span.orange>i{background-color: #ffb830;}
.yu-themesList>span.simple>i{background-color: #e6e6e6;}

.yu-languageList{display: none; position: absolute;left: 10px;top:20px;z-index: 10;width: 80px;background-color: #ffffff;border: 1px #d1dbe5 solid;border-radius: 2px;box-shadow:0 2px 4px rgba(0,0,0,.2);}
.yu-languageList>i{position: absolute;font-size: 0;float: left;overflow: hidden;width: 15px;height: 7px;top: -7px;left: 32px; background: url(images/pic_04.png) center center no-repeat;}
.yu-languageList>span{display: block;height: 30px;line-height: 30px;padding: 0 15px 0 15px;cursor: pointer;position: relative;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
.yu-languageList>span:hover{color: #58b0e8;background-color: #e4e8f1;}
/*02-frame common end*/

/*03-frameLeft sta*/
.yu-sysTools{height: 40px;padding: 0 5px;}
.yu-sysTools>span{float: right;background-color: #242424;width: 30px;height: 30px;border-radius: 3px; line-height: 30px;margin: 5px 3px 5px 0; text-align: center;font-size: 16px;color: #fff;opacity: 0.5;cursor: pointer;}
.yu-sysTools>span:hover{opacity: 1;}
.page-sidebar-closed .yu-sysTools{width: 35px!important;overflow: hidden!important;}
.page-sidebar-closed .yu-sysTools .sidebar-toggler{margin-right: 8px;}
/*03-frameLeft end*/

/*04-frameRight sta*/
#frameRight .yu-idxMenu{right: 0;left: inherit}
#frameRight .yu-mainBox{margin-right: 230px;margin-left: 0;}
#frameTop .yu-mainBox{margin-right: 0;margin-left: 0;}
.page-sidebar-closed #frameRight .yu-mainBox{margin-right: 35px;}
.page-sidebar-closed #frameRight ul.page-sidebar-menu > li:hover{right: 190px;}
.page-sidebar-closed #frameRight ul.page-sidebar-menu > li.yu-sysTools:hover{right: 0;}
.page-sidebar-closed #frameRight ul.page-sidebar-menu > li:hover .sub-menu{right: 35px;left: inherit;}
.page-sidebar-closed #frameRight .yu-sysTools .sidebar-toggler{margin-right: 7px;}
/*04-frameRight end*/

/*05-frameTop sta*/
.yu-top-header{display: block; height: 48px;background-color: #fff;position: relative;}
.yu-top-logo{display: block;float: left;height: 48px;margin-left: 20px;padding-left: 125px;background: url(../common/images/pic_00.png) left center no-repeat;background-size: 36%; }
.yu-top-logo>span{font-size: 22px;line-height: 48px;color: #222;}

.yu-top-right{position:absolute;float: left;right: 0;top:0;height: 48px;padding-right: 68px;}
.yu-top-right .yu-userInfo{float: left; margin: 6px 20px 0 0;line-height: 36px;font-size: 12px;color: #666;padding-top: 0}
.yu-top-right .yu-userInfo>i{float: left; width: 36px;height: 36px;line-height: 36px;text-align: center;border-radius: 100%;background-color: #e7e9ed;color: #c3c9d5;font-size: 24px;}
.yu-top-right .yu-userInfo>b{font-weight: normal;padding-left: 5px;}
.yu-top-right .yu-userInfo>img{position: absolute;float:left;width: 36px;height: 36px;left: 0;top: 0;border-radius: 100%;}
.yu-top-right .yu-userInfo>span{margin-left: 10px;}

.yu-top-right .yu-sysTools{float: left;margin:  0;margin-top: 5px; }
.yu-top-right .yu-sysTools>span{float: right;height: 28px;line-height: 28px;color: #666;transition: .2s;border:1px #fff solid;background-color: #fff;font-size: 12px;margin-left: 10px;}
.yu-top-right .yu-sysTools>span:hover{color: #58b0e8;}
.yu-top-right .yu-sysTools>span:active{color:#666;}
.yu-top-right .yu-sysTools>span:before{font-size: 16px;margin-right: 5px;line-height: 1px;}
.yu-top-right .yu-sysTools .sidebar-toggler{display: none;}

.yu-top-header .yu-exit:link,.yu-top-header .yu-exit:visited{position: absolute;float: left;right: 0;top: 0; width: 48px;height: 48px;line-height: 48px;text-align: center;background-color: #edf7fe;color:#58b0e8;font-size: 16px;transition: .2s;}
.yu-top-header .yu-exit:hover{color: #fda04e;background-color: #fff3e8;}
.yu-top-header .yu-exit:active{color:#58b0e8;background-color: #edf7fe;}

.yu-topMainMenu{display: block;height: 40px;background-color: #20a0ff;white-space: nowrap;padding: 0 10px;}
.yu-topMainMenu>a:link,.yu-topMainMenu>a:visited{float: left; height: 26px;line-height: 26px;padding: 0 15px;margin: 7px 3px; border-radius: 13px;color: #fff;font-size: 15px;transition: .2s;}
.yu-topMainMenu>a:hover{background-color: #3896d2;color: #fff;}
.yu-topMainMenu>a:active{background-color: #2284c2;}
.yu-topMainMenu>a.ck:link,.yu-topMainMenu>a.ck:visited{background-color: #3896d2;}
.yu-topMainMenu>a.ck:hover{background-color: #3896d2;}
.yu-topMainMenu>a.ck:active{background-color: #2284c2;}

.yu-topNavMenu{display: block;height: 40px;}
.yu-topNavMenu>li>a:link,.yu-topNavMenu>li>a:visited{float: left; height: 26px;line-height: 26px;padding: 0 15px;margin: 7px 3px; border-radius: 13px;color: #fff;font-size: 14px;transition: .2s;}
.yu-topNavMenu>li>a:hover{background-color: #3896d2;color: #fff;}
.yu-topNavMenu>li>a:active{background-color: #2284c2;}
.yu-topNavMenu>li>a.ck:link,.yu-topNavMenu>li>a.ck:visited{background-color: #3896d2;}
.yu-topNavMenu>li:hover>a,.yu-topNavMenu>li>a.ck:hover{background-color: #3896d2;}
.yu-topNavMenu>li>a.ck:active{background-color: #2284c2;}

.yu-topNavMenu>li ul{display: none;position:absolute;z-index:9999; width: 140px;background-color: #ffffff;border: 1px #f2f2f2 solid;box-shadow: 0 2px 1px rgba(0,0,0,.2);border-radius: 2px;}
.yu-topNavMenu>li ul>i{position: absolute;font-size: 0;float: left;overflow: hidden;width: 15px;height: 7px;top: -7px;left: 15px; background: url(images/pic_04.png) center center no-repeat;}
.yu-topNavMenu>li ul>li{display: block;position:relative;}
.yu-topNavMenu>li ul>li>a:link,.yu-topNavMenu>li ul>li>a:visited{display: block;height: 30px;line-height: 30px;padding: 0 10px;font-size: 14px;color: #666;transition: .2s;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.yu-topNavMenu>li ul>li>a.isParent{background-image: url(images/pic_03.gif);background-position: right center;background-repeat: no-repeat;}
.yu-topNavMenu>li ul>li:hover>a,.yu-topNavMenu>li ul>li>a:hover{color: #20a0ff;background-color: #e4e8f1;}
.yu-topNavMenu>li ul>li:hover>a.isParent,.yu-topNavMenu>li ul>li>a.isParent:hover{background-image: url(images/pic_03.gif);}
.yu-topNavMenu>li ul>li>a:active{background-color: #d4e6f2;}

.yu-topTileMenu{height:40px;}
.yu-topTileMenu>li{height:40px;line-height:40px;float:left;position:relative;margin-left: 2px;}
.yu-topTileMenu>li>a:link,.yu-topTileMenu>li>a:visited{float:left;display: block; height:40px;line-height:40px; padding:0 15px;color:#fff;font-size:14px;margin:0;border-radius:0;white-space: nowrap;position:relative;transition: .2s;}
.yu-topTileMenu>li:hover>a,.yu-topTileMenu>li>a:hover,.yu-topTileMenu>li>a.ck{background-color:#7cc7ff;color:#fff;}
.yu-topTileMenu>li>a:active{background-color:#44afff;}

.yu-topTileMenu>li>div{display:none;position:absolute;left:0;top:40px; z-index:11; width: 570px;padding:10px; height:270px; background-color: #ffffff;border: 1px #f2f2f2 solid;border-top:none; box-shadow: 0 2px 1px rgba(0,0,0,.2);overflow: hidden;}
.yu-topTileMenu>li>div>i{float: left;position: absolute;width: 12px;height: 64px; top: 50%;margin-top: -32px;transition: .2s;cursor: pointer;}
.yu-topTileMenu>li>div>i.no{display: none;}
.yu-topTileMenu>li>div>i.left{left: 0;background:url("../common/images/arrow_left.gif") center center no-repeat;border-radius: 0 3px 3px 0;}
.yu-topTileMenu>li>div>i.right{right: 0;background:url("../common/images/arrow_right.gif") center center no-repeat;border-radius: 3px 0 0 3px;}
.yu-topTileMenu>li>div>i.left:hover{background:url("../common/images/arrow_left_ov.gif") #e4e8f1 center center no-repeat;}
.yu-topTileMenu>li>div>i.right:hover{background:url("../common/images/arrow_right_ov.gif") #e4e8f1 center center no-repeat;}

.yu-topTileMenu>li>div>ul{display:block;width:140px;height:100%;overflow:auto;overflow-x:hidden;border-right:1px #e0e0e0 solid;float: left;}
.yu-topTileMenu>li>div>ul:last-child{border-right: none;}
.yu-topTileMenu>li>div>ul li{display:block; line-height:30px;}
.yu-topTileMenu>li>div>ul ul{margin-left:10px;display: none;}
.yu-topTileMenu>li>div a:link,.yu-topTileMenu>li>div a:visited,.yu-topTileMenu>li>div span{display:block;position: relative; padding:0 10px; height:30px;line-height:30px;font-size: 12px;color: #666;transition: .2s;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.yu-topTileMenu>li>div a:hover,.yu-topTileMenu>li>div span:hover{color:#20a0ff;}
.yu-topTileMenu>li>div a:active,.yu-topTileMenu>li>div span:active{color:#666;}

.yu-topTileMenu>li>div a.ck:link,.yu-topTileMenu>li>div a.ck:visited,.yu-topTileMenu>li>div span.ck{color: #20a0ff;}
.yu-topTileMenu>li>div a.ck:hover,.yu-topTileMenu>li>div span.ck:hover{color:#20a0ff;}
.yu-topTileMenu>li>div a.ck:active,.yu-topTileMenu>li>div span.ck:active{color:#666;}
.yu-topTileMenu>li>div span.ck+ul{display: block;}

.yu-topTileMenu>li>div span{font-weight:bold;position: relative;margin-right: 10px;cursor: pointer;}
.yu-topTileMenu>li>div a>i,.yu-topTileMenu>li>div>ul>li span>b{position: absolute;float:left;}
.yu-topTileMenu>li>div a>i{width: 4px;height: 4px;background-color: #bbb;border-radius: 1px;left: 0;top: 13px;}
.yu-topTileMenu>li>div span>b{width: 16px;height: 16px;background:url("images/pic_02.gif") center center no-repeat;right: 0;top: 7px;}
.yu-topTileMenu>li>div span.ck>b{background:url("images/pic_02_1.gif") center center no-repeat;}
.yu-topTileMenu>li>div span{font-size: 14px;}
/*05-frameTop end*/

/*06-index sta*/
.yu-mainContainer{display: block; padding-left:0;padding-top: 10px;margin-right: -10px;}
.yu-mainContainer>.yu-Con{display:block; width: 33.33%;float: left;}
.yu-mainContainer>.yu-Con.two{width: 66.66%;}
.yu-box{margin-right: 10px; display:block; box-shadow: 0 1px 1px #ddd;background-color: #fff;min-height: 85px;margin-bottom:10px; behavior: url(PIE.htc);}
.yu-box.fit{margin-right: 10px;margin-left: 10px;margin-bottom: 10px;}
.yu-box>h1{display: block;border-bottom: 2px #dbdbdb solid;height: 33px;margin: 0;padding: 0;position: relative;}
.yu-box>h1>b{position:absolute;left:0;top:0; padding:0 10px; color: #006fcc;font-weight: bold;font-size: 14px;line-height: 33px;display: block;border-bottom: 2px #006fcc solid;}
.yu-box>h1>i{float: left;line-height: 33px;font-size: 14px;font-weight: bold;font-style: normal; color: #666;padding: 0 10px;}
.yu-box>h1>span{position:absolute;right:10px;top:0;color: #bababa;font-size: 12px;line-height: 33px;font-weight: normal;}
.yu-box>h1>a:link,.yu-box>h1>a:visited {display:block;float:left; font-size: 12px;font-weight:normal; color: #666;text-decoration: none;text-align: center;position: absolute;line-height: 33px;top:0;right: 10px;transition:0.2s;}
.yu-box>h1>a:hover  {color:#006fcc; text-decoration: none;}
.yu-box>h1>a:active  {color: #666;}
.yu-content{min-height: 50px;display: block;clear: left;position: relative;}

.yu-tabs{ font-size: 14px;line-height: 33px;height: 33px;display: block;text-align: left;}
.yu-box>h1>i+.yu-tabs{position:absolute;right:0;top:0;right:0;}
.yu-tabs>a:link,.yu-tabs>a:visited {display:inline;float:left; font-size: 14px;font-weight:normal; color: #666;text-decoration: none;line-height: 33px;height: 33px;padding: 0 10px;transition:0.2s;}
.yu-tabs>a:hover  {color:#006fcc; text-decoration: none;}
.yu-tabs>a:active  {color: #666;}
.yu-tabs>a.selected:link,.yu-tabs>a.selected:visited {color: #006fcc;text-decoration: none;border-bottom: 2px #006fcc solid;font-weight: bold;}
.yu-tabs>a.selected:hover {color:#006fcc; text-decoration: none;}
.yu-tabs>a.selected:active {color: #006fcc;}
.yu-tabBox{display: none;}

.yu-idxMinCell{width: 140px;height: 100%; float: left;background-color: #f5f8fb;position: absolute;left: 0;top: 0;border-right: 1px #edf2f7 solid;z-index: 1;}
.imcBg1{background-color: #fbf6ee;border-color: #f7efe0;}
.imcBg2{background-color: #f8efef;border-color: #f5e7e7;}
.yu-idxMinCell+div{display: block;padding-left: 140px;height: 100%;}
.yu-idxMinCell>h1{display: block; font-size: 14px;font-weight: normal;color: #666;line-height: 25px;height: 25px;margin-top: 5px; padding: 0 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.yu-idxMinCell>b{display: block;font-size: 22px;font-weight: normal;padding: 0 10px;line-height: 25px;height: 25px;margin-top: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #0065D2;}
.yu-idxMinCell>b>i{font-style: normal;font-size: 12px;}
.yu-idxMinCell>span{display: block; font-size: 12px;padding: 0 10px;line-height: 25px;height: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #666;}
.yu-idxMinCell>span>i{font-style: normal;padding:0 3px;color: #FAB130;}
.yu-idxMinCell>span>b{font-style: normal;font-weight:normal;color: #FAB130;}

.yu-table{border: none;border-spacing: 0;border-collapse: collapse;width: 100%;}
.yu-table th,.yu-table td{ height: 31px;line-height: 31px;border: 1px #dbdbdb solid;border-right: none;border-top: none;font-size: 12px;}
.yu-table th{background-color: #f1f2f3;}
.yu-table th>div,.yu-table td>div{display: block;padding: 0 10px; line-height: 31px;height: 31px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.yu-table>tbody>tr>th:first-child,.yu-table>tbody>tr>td:first-child{border-left: none;}
.yu-table>tbody>tr.even>td{background-color: #f8f8f8;}
.yu-table>tbody>tr:hover>td,.yu-table th:hover{background-color: #f8e6bc;transition:0.2s;}
.yu-table>tbody>tr.nobd>td{border-bottom: none;}
.yu-table>tbody>tr.selected>td{background-color: #2293de;color: #fff;}
.yu-table>tbody>tr.selected:hover>td{background-color: #2293de;color: #fff;}
.yu-table td.ar{text-align: right;}
.yu-table td.bold{font-weight: bold;}
/*06-index end*/

/*07-el overwrite sta*/
.el-form-x{padding: 10px 0 0 0;}
.el-form-x-footer{text-align: center;}
.el-otherForm{padding: 10px 0 0 0;}
.yu-search{padding: 5px 0;}
.yu-search .el-form-item{margin-bottom: 5px;margin-top: 5px;}
.yu-search>h2,.yu-toolBar>h2,.yu-formTitle{height: 35px;line-height: 35px;padding-left: 15px;background-color: #eef1f6;color: #48576a; border-bottom: 1px solid #dfe6ec;font-size: 14px; font-weight: bold;margin: 0 0 10px 0;}
.yu-search>h2{margin-bottom: 5px;margin-top: 5px;}
.el-pagination{padding: 10px 10px;text-align: right;}
.yu-gridRightPanel{display: block;margin-left: 10px;padding-right: 10px; background-color: #fff;border: 1px solid #dfe6ec;}
.yu-gridRightPanel>h1{font-size: 16px;font-weight: bold;text-align: left;padding-left: 15px;line-height: 40px;height:40px;margin-bottom: 10px;}
.yu-gridRightPanel .el-form-x-footer{padding-top: 10px;}
.yu-grpForm{display: block;min-height: 50px;overflow: hidden; overflow-y: auto;}
.yu-grpButton{display: block; text-align: center;height: 35px;padding: 10px;}
.el-table__expanded-cell{padding: 10px;}
.el-tabs__header{margin: 0;}
.el-steps.is-horizontal{margin: 10px;}
.el-collapse:first-child{margin-top: 10px;}
.el-collapse-item__content{padding: 10px;}
.el-tab-pane>.el-table-x:first-child{margin-top: 10px;}

.el-table--enable-row-hover .el-table__body tr:hover>td,
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,.el-table__body tr.current-row>td{background-color:#fffbc0;}

.yu-toolBar{display:block; padding:0 0 10px 0;font-size: 0;}
.yu-toolBar>.el-button,.yu-toolBar>.el-button-group>.el-button{color: #48576a;border-color: #d1dbe5;transition: .2s;}
.yu-toolBar>.el-button>i,.yu-toolBar>.el-button-group>.el-button>i{color: #97a8be;}
.yu-toolBar>.el-button:hover,.yu-toolBar>.el-button:hover>i
,.yu-toolBar>.el-button-group>.el-button:hover,.yu-toolBar>.el-button-group>.el-button:hover>i{color: #20a0ff;}
.yu-toolBar>.el-button:hover,.yu-toolBar>.el-button-group>.el-button:hover{border-color:#20a0ff;}

.el-dialog__wrapper-x{overflow: hidden;}
.el-dialog--x{width: 100%;}
.el-dialog__footer{text-align: center;}
.el-placeholder{position:absolute;color: #bfcbd9;top:50%;margin-top: -7px;font-size: 14px;left:10px;float: left;line-height: 14px;}
.el-textarea .el-placeholder{top: 10px;margin-top: inherit;}
/*07-el overwrite end*/

/*08-other sta*/
.yu-icons{display: block;padding: 5px;overflow: auto;height: auto;}
.yu-icons>a:link,.yu-icons>a:visited{float: left;width: 22px;height: 22px;font-size: 16px;line-height: 22px;overflow: hidden;background-color: #fff; text-align: center;color: #666;font-weight: normal;border: 1px #ddd solid;border-radius: 3px;margin: 5px;transition: .2s;}
.yu-icons>a:hover{color: #006fcc;border-color: #006fcc;}
.yu-icons>a:active{color: #fff;background-color: #006fcc; border-color: #006fcc;}
.yu-icons>a.ck:link,.yu-icons>a.ck:visited,.yu-icons>a.ck:hover,.yu-icons>a.ck:active{color: #fff;background-color: #006fcc; border-color: #006fcc;}

.yu-iconList{display: block;padding: 5px 0;overflow: auto;height: auto;margin: 0 -5px;}
.yu-iconList>div{float: left;width:calc(33.33% - 30px);height: 48px;overflow: hidden; background-color: #fff;margin: 5px;padding: 10px; position: relative;border-bottom: 2px #eee solid;transition:.2s;}
.yu-iconList>div:hover{box-shadow:0 2px 4px rgba(0,0,0,.2);border-bottom: 2px #20a0ff solid;}
.yu-iconList>div>i{position: absolute;left: 10px;top: 10px; float: left;width: 48px;height: 48px;text-align: center; font-size: 32px;color:#666;line-height: 48px;transition: .2s;}
.yu-iconList>div>span{display: none; position:absolute;font-size: 12px;right: 10px;top: 10px;color: #888;cursor: pointer; transition:.2s;}
.yu-iconList>div:hover>span{display: block}
.yu-iconList>div:hover>i{font-size: 40px;color: #20a0ff;}
.yu-iconList>div>span:hover{ color: #20a0ff;text-decoration: underline;}
.yu-iconList>div>span:active{color: #666;text-decoration: underline;}
.yu-iconList>div>p{display: block;margin-left: 53px;}
.yu-iconList>div>p>*{display: block;font-size: 12px;color: #bbb;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 24px;line-height: 24px;}
.yu-iconList>div>p>b{font-size: 14px;color: #666;font-weight: normal;}
.yu-iconSum{font-size:12px;display:block;text-align: right;line-height: 36px;padding-right: 10px;}
.yu-iconSum>b{color: #20a0ff;padding: 0 5px;}

[class^="yu-treeMenuType"], [class*=" yu-treeMenuType"]{padding: 0 3px; border-radius: 3px;margin-right: 3px;color: #fff;overflow: hidden;margin-right: 5px;}
.yu-treeMenuTypeM,.yu-treeMenuType1{background-color: #20A0FF;}
.yu-treeMenuTypeD,.yu-treeMenuType2{background-color: #13CE66;}
.yu-treeMenuTypeC,.yu-treeMenuType3{background-color: #F7BA2A;}
.yu-treeMenuTypeF,.yu-treeMenuType4{background-color: #DC25C0;}

.yu-left{text-align: left;}
.yu-center{text-align: center;}
.yu-right{text-align: right;}

.yu-gridContextMenu{line-height: 25px;padding: 5px 10px;display: none;z-index: 10; position: fixed;background-color: #fff;border: 1px solid #d1dbe5 ;height: auto;box-shadow:0 2px 4px rgba(0,0,0,.2);}
.yu-gridContextMenu>label{display: block; margin: 3px 0;}
.yu-formQFloat{position: absolute;z-index: 10;background: #F5F5F5;box-shadow:0 6px 3px -3px rgba(0,0,0,.2);margin-right: 5px!important;}
.yu-formQButton{}
/*08-other end*/
#timepopover li{border-radius: 4px;background-color: #f5f5f5;
    color: #0088cc;height: 25px;line-height: 25px;padding-left: 15px;margin-top:10px; }
#timepopover li:first-child{margin-top: 0px;}
#timepopover li:hover{background-color:#0088cc ;color: #fff;}
#timepopover>.block{margin: 10px 0px;}
#timepopover li.yu-rwzxLiactive{background-color: #0088cc;color:#fff;}
