<!-- 必须全局拥有唯一的id -->
<div id="exampleEdit">
    <el-form-q :field-data="queryFields" search-table="mytable"></el-form-q>
    <div class="yu-toolBar">
        <el-button-group>
            <el-button icon="plus" @click="addFn">新增</el-button>
            <el-button icon="edit" @click="modifyFn">修改</el-button>
            <el-button icon="document" @click="infoFn">详情</el-button>
        </el-button-group>
    </div>
    <el-row>
        <el-col :span="15">
            <el-table-x ref="mytable" :max-height="height"
                data-url="/trade/example/list" :table-columns="tableColumns"
                @row-click="rowClickFn"></el-table-x>
        </el-col>
        <el-col :span="9">
            <div class="yu-gridRightPanel" :style="{ 'height': (height - 12)+ 'px' }">
                <h1>{{viewTitle[viewType]}}</h1>
                <el-form-x ref="myform" :height="grpFormHeight"
                           :group-fields="updateFields" :buttons="updateButtons"
                           :disabled="formDisabled" label-width="80px"></el-form-x>
            </div>
        </el-col>
    </el-row>
</div>