<!-- 必须全局拥有唯一的id -->
<div id="exampleSteps1">
    <el-steps :active="active" finish-status="success" :align-center="true" :center="true">
        <el-step title="基本信息"></el-step>
        <el-step title="家庭信息"></el-step>
        <el-step title="其他信息"></el-step>
    </el-steps>
    <div class="yu-steps">
        <el-form-x ref="myform" :group-fields="editFields" :buttons="buttons" label-width="100px" v-show="step"></el-form-x>
        <el-form-x ref="myform1" :group-fields="editFields1" :buttons="buttons1" label-width="100px" v-show="step1"></el-form-x>
        <el-form-x ref="myform2" :group-fields="editFields2" :buttons="buttons2" label-width="100px" v-show="step2"></el-form-x>
    </div>
</div>