<!-- 必须全局拥有唯一的id -->
<div id="query_nested_table">
    <el-form-q form="query" :field-data="queryFields" search-table="mytable"></el-form-q>
    <div class="yu-toolBar">
        <el-button-group>
            <el-button icon="plus" @click="createFn">新增</el-button>
            <el-button icon="edit" @click="editFn">修改</el-button>
            <el-button icon="document" @click="detailFn">详情</el-button>
            <el-button icon="yx-bin" @click="deleteFn">删除</el-button>
        </el-button-group>
    </div>
    <el-table-x ref="mytable"
                :data-url="dataUrl" :table-columns="tableColumns"
                @custom-row-click="customRowClick"
                @custom-row-op="customRowOp">
    </el-table-x>
</div>