<div id="template_tabsearch">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="消息提醒" name="first">
            <el-form-q :field-data="queryFields" search-table="mytable"></el-form-q>
            <div class="yu-toolBar">
                <el-button-group>
                    <el-button icon="document">详情</el-button>
                    <el-button icon="yx-checkmark2">标记为已读</el-button>
                    <el-button icon="yx-share2">分享</el-button>
                </el-button-group>
            </div>
            <el-table-x ref="mytable" :data-url="dataUrl" :table-columns="tableColumns"></el-table-x>
        </el-tab-pane>

        <el-tab-pane label="待办事项" name="second">
            <el-form-q :field-data="queryFields" :buttons="queryButtons"></el-form-q>
            <div class="yu-toolBar">
                <el-button-group>
                    <el-button icon="plus">新增</el-button>
                    <el-button icon="document">详情</el-button>
                    <el-button icon="yx-checkmark2">标记为已读</el-button>
                    <el-button icon="yx-share2">分享</el-button>
                </el-button-group>
            </div>
            <el-table-x ref="mytable1" :data-url="dataUrl" :table-columns="tableColumns"></el-table-x>
        </el-tab-pane>

        <el-tab-pane label="工作日程" name="third">
            <el-form-q :field-data="queryFields" :buttons="queryButtons"></el-form-q>
            <div class="yu-toolBar">
                <el-button-group>
                    <el-button icon="plus">新增</el-button>
                    <el-button icon="yx-share2">分享</el-button>
                </el-button-group>
            </div>
            <el-table-x ref="mytable2" :data-url="dataUrl" :table-columns="tableColumns"></el-table-x>
        </el-tab-pane>

        <el-tab-pane label="我的日程" name="fourth">
            <el-form-q :field-data="queryFields" :buttons="queryButtons"></el-form-q>
            <div class="yu-toolBar">
                <el-button-group>
                    <el-button icon="yx-checkmark2">审批</el-button>
                    <el-button icon="document">分享</el-button>
                </el-button-group>
            </div>
            <el-table-x ref="mytable3" :data-url="dataUrl" :table-columns="tableColumns"></el-table-x>
        </el-tab-pane>

    </el-tabs>
</div>