<div id="pad_funcmanagement">
  <el-card class="box-card" style="padding-top:20px">
    <el-form :inline="true" class="demo-form-inline">
      <el-form-item label="功能编号">
        <el-input v-model="funcId"></el-input>
      </el-form-item>
      <el-form-item label="功能名称">
        <el-input v-model="funcName"></el-input>
      </el-form-item>
      <el-button>查询</el-button>
      <el-button>清空</el-button>
    </el-form>
  </el-card>
  <el-card class="box-card" style="padding-top:10px">
    <div class="yu-toolBar">
      <el-button-group>
        <el-button icon="plus" @click="addNewFunc">添加</el-button>
        <el-button icon="yx-bin" @click="multFuncsDelete">批量删除</el-button>
        <el-button icon="edit" @click="updateFunc">修改</el-button>
      </el-button-group>
    </div>
  </el-card>
  <template>
    <el-table width="100%">
      <el-table-column type="selection" width="65"></el-table-column>
      <el-table-column label="操作" width="120"></el-table-column>
      <el-table-column label="功能编号" width="120"></el-table-column>
      <el-table-column label="功能名称" width="120"></el-table-column>
    </el-table>
  </template>
  <el-pagination
    background
    layout="prev, pager,next"


  ></el-pagination>


</div>

<div id="pad_funcDialog">
  <el-dialog :title="titleName" :visible.sync="isShowDialog">
    <el-card class="box-card" style="padding-top:20px">
      <el-form :inline="true" class="demo-form-inline">
        <el-row :gutter="12">
          <el-col :span="8">
            <el-form-item label="功能编号">
              <el-input v-model="formData.funnId"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="功能名称">
              <el-input v-model="formData.funcName"></el-input>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
    </el-card>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" @click="cancelDialog">取消</el-button>
      <el-button >{{buttonName}}</el-button>
    </div>

  </el-dialog>
</div>
