<!-- 必须全局拥有唯一的id -->
<div id="el_orgmanagement" style="background-color: white">




                <el-row :gutter="10" style="margin-top: 15px;margin-left:15px;background-color: white">
                    <el-button-group>


                        <el-button type="primary" icon="el-icon-edit" @click="selectAll()">全选</el-button>

                        <el-button  type="primary" @click="fileUploadVisible=true">点击上传</el-button>

                        <el-button type="primary" icon="el-icon-edit" @click="releaseDeploy()">版本部署</el-button>
                        <el-button type="primary" icon="el-icon-share"  @click="releaseUnDeploy">版本回退</el-button>
                        <el-button type="primary" icon="el-icon-delete" @click="startServer()">启动服务器</el-button>
                        <el-button type="primary" icon="el-icon-delete" @click="stopServer()">停止服务器</el-button>

                        <el-button type="primary" icon="el-icon-delete" @click="test()">test</el-button>

                    </el-button-group>

                    <!--
                    <el-col :span="2">
                        <el-button type="primary" @click="addRootOrg" class="btn">日志分析</el-button>
                    </el-col>
                    -->

                </el-row>

                <div class="server_container" style="margin-left:0px;margin-top:5px;background-color: white">


                <!--<el-checkbox-group v-model="checkList">-->
                    <!--<div>-->
                        <yufp-serverstatus v-for="(item, index) in nodeInfos"  :key="item.ip" @click="dialogFormVisible = true" :datasource="item" v-on:tap="tap(item,index)" v-model="item.checked" :disabled="item.disabled"></yufp-serverstatus>
                    <!--</div>-->
                    <!--</el-checkbox-group>-->


                </div>


    <el-dialog title="版本文件上传" :visible.sync="fileUploadVisible" style="width:50%">
        <el-upload
                class="upload-demo"
                action="http://139.199.79.118:9191/services/trade/file/upload.do"
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :before-remove="beforeRemove"
                ref="upload"
                :auto-upload="false"
                :file-list="fileList">

            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>

        </el-upload>
    </el-dialog>


    <el-dialog title="版本部署" :visible.sync="deployDialogVisiable">

        <el-form ref="deployFormData" :model="deployFormData" label-width="150px">

            <el-form-item label="版本选择">
                <el-select v-model="deployFormData.version" placeholder="请选择">
                    <el-option
                            v-for="item in version_list"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="是否需要重启服务">
                <el-select v-model="deployFormData.needRestart" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="deploy()">确定</el-button>
            <el-button @click="deployDialogVisiable = false">取消</el-button>
        </div>
    </el-dialog>


    <el-dialog title="部署页面" :visible.sync="dialogFormVisible">
        <el-steps :space="230" :active="step" finish-status="success">
            <el-step title="开始" ></el-step>
            <el-step title="上传"></el-step>
            <el-step title="解包"></el-step>
            <el-step title="结束"></el-step>
        </el-steps>

        <div>
            <ul id="parentUl"></ul>
        </div>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogFormVisible = false">关闭</el-button>
        </div>
    </el-dialog>


    <el-dialog title="版本回退" :visible.sync="undeployDialogVisiable">

        <el-form ref="unDeployFormData" :model="unDeployFormData" label-width="150px">

            <el-form-item label="版本选择">
                <el-select v-model="unDeployFormData.version" placeholder="请选择">
                    <el-option
                            v-for="item in undeploy_version_list"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="unDeploy()">确定</el-button>
            <el-button @click="undeployDialogVisiable = false">取消</el-button>
        </div>
    </el-dialog>


    <el-dialog title="回退页面" :visible.sync="backDetailPageVisible">
        <el-steps :space="180" :active="backstep" finish-status="success">
            <el-step title="开始" ></el-step>
            <el-step title="停止服务器"></el-step>
            <el-step title="回退"></el-step>
            <el-step title="启动服务器"></el-step>
            <el-step title="结束"></el-step>
        </el-steps>

        <div>
            <ul id="backMsgPan"></ul>
        </div>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="backDetailPageVisible = false">关闭</el-button>
        </div>
    </el-dialog>

</div>
